<div class="header-main">
  <!-- Display Loading Status -->
  <h2 class="text-white" *ngIf="isLoading">Loading Data...</h2>

  <!-- Display Data -->
  <div *ngIf="data">
    <h1>Users</h1>
    <ul style="list-style:disc;">
      <li *ngFor="let user of data" class="text-white mb-4">
        <div *ngIf="user && user.username">Username : {{ user.username }}</div>
        <div *ngIf="user && user.age">Age : {{ user.age }}</div>
      </li>
    </ul>
  </div>

  <!-- Display Error -->
  <div *ngIf="error" class="error">{{ error }}</div>
</div>
